*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #1d3142;
  color: #f58345;
}

::selection {
  background-color: #1d3142;
  color: #f58345;
}

/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #132433;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(233, 227, 180, 0.4);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9e3b4;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  color: #737373;
}

.heading-primary {
  font-size: 2rem;
  width: 80vw;
  max-width: 60rem;
  color: #ffffff;
  font-family: "Merriweather", serif;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 37.5em) {
  .heading-primary {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 75em) {
  .heading-primary {
    font-size: 4rem;
  }
}

.btn:link, .btn:active, .btn:visited {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10rem;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
}

.btn:link:hover, .btn:active:hover, .btn:visited:hover {
  border-radius: 0.4rem;
}

.btn--primary {
  background-color: #f58345;
  width: 14rem;
  color: #ffffff;
  margin: auto;
  border: 1.4px solid transparent;
}

@media only screen and (min-width: 37.5em) {
  .btn--primary {
    font-size: 1.4rem !important;
    width: 16rem;
  }
}

.btn--primary:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(29, 49, 66, 0.2);
          box-shadow: 0 1rem 2rem rgba(29, 49, 66, 0.2);
  border: 1.4px solid #e9e3b4;
}

.btn--primary:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(29, 49, 66, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(29, 49, 66, 0.2);
}

.btn--secondary {
  background-color: transparent;
  color: #3e6990;
  border: 1px solid #3e6990;
  width: 13rem;
  margin: auto;
}

.btn--secondary:hover {
  border-color: #f58345;
}

@media only screen and (min-width: 37.5em) {
  .btn--secondary {
    margin: 0;
  }
}

.contact {
  width: 85vw;
  max-width: 55rem;
}

.contact__text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #3e6990;
}

@media only screen and (min-width: 37.5em) {
  .contact__text {
    font-size: 2.2rem;
  }
}

.copyright {
  position: relative;
  background-color: #132433;
  padding: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.copyright__text {
  color: rgba(240, 240, 240, 0.5);
  min-width: 50%;
}

.company-link {
  display: block;
  color: rgba(240, 240, 240, 0.5);
  min-width: 50%;
}

.company-link:hover {
  color: #ffffff;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin: -1.2rem auto 0;
  z-index: 10000;
  max-width: 80vw;
  padding: 1rem 0 3rem;
}

@media only screen and (min-width: 37.5em) {
  .features__content {
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
}

.feature {
  text-align: center;
  padding: 1.2rem 1.5rem;
  max-width: 25rem;
}

.feature__img {
  width: 5rem;
  height: auto;
}

.feature__text {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.feature__link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: #f58345;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.feature__link::before, .feature__link::after {
  position: absolute;
  top: 55%;
  width: 80%;
  height: 1px;
  content: "";
  background-color: rgba(115, 115, 115, 0.2);
  overflow: hidden;
  pointer-events: none;
}

.feature__link::before {
  margin-left: calc(-80% - 1rem);
}

.feature__link::after {
  margin-left: 1rem;
}

.feature__link:hover {
  color: #1d3142;
}

.feature__link:hover::before, .feature__link:hover::after {
  background-color: #f58345;
}

@media only screen and (min-width: 37.5em) {
  .feature__text {
    font-size: 1.6rem;
  }
  .feature__link {
    font-size: 1.4rem;
  }
}

.logo {
  width: 14rem;
  height: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #1d3142;
}

.navigation__lg {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navigation__sm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation__list {
  list-style-type: none;
}

.navigation__item {
  display: inline-block;
}

.navigation__link {
  display: block;
  padding: 1.4rem 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #f0f0f0;
}

.navigation__link:hover {
  color: #f58345;
  background-color: #132433;
}

@media only screen and (min-width: 56.25em) {
  .navigation__link {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 75em) {
  .navigation__link {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    display: block;
  }
  .navigation__list {
    position: fixed;
    margin: auto;
    width: 100%;
    background-color: #1d3142;
    z-index: 1000;
    overflow: hidden;
  }
  .navigation .nav-closed {
    padding-bottom: 0;
    height: 0px;
  }
  .navigation .nav-open {
    padding-bottom: 1rem;
    height: auto;
  }
  .navigation__item {
    display: block;
    width: 80%;
    margin: auto;
  }
  .navigation__item:not(:first-child) {
    border-top: 1px solid #737373;
  }
  .navigation__link:hover {
    background-color: transparent;
  }
}

.navigation-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  overflow: hidden;
}

.navigation-side__item {
  border-bottom: 3px solid transparent;
  padding: 1.2rem 2rem;
}

.navigation-side__item:first-child {
  margin-right: 2rem;
}

.navigation-side__item:hover {
  border-bottom: 3px solid #f58345;
  background-color: #132433;
}

.navigation-side__link {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  height: 100%;
}

@media only screen and (min-width: 56.25em) {
  .navigation-side__link {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 75em) {
  .navigation-side__link {
    font-size: 1.6rem;
  }
}

.navigation-side__img {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  margin-right: 1rem;
  width: 1.8rem;
  height: auto;
}

@media only screen and (min-width: 56.25em) {
  .navigation-side__img {
    width: 2rem;
  }
}

@media (max-width: 600px) {
  .navigation-side {
    display: none;
  }
}

.scroll-up {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: auto;
}

.search {
  position: relative;
  display: none;
}

.search__label {
  color: #f0f0f0;
  margin-right: 1rem;
}

.search__input {
  background-color: #f0f0f0;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  border: 3px solid transparent;
}

.search__input:focus {
  border: 3px solid #f58345;
}

.search__icon {
  position: absolute;
  background-color: #f0f0f0;
  border: none;
  outline: none;
  right: 1rem;
  height: 2rem;
  width: auto;
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
}

@media only screen and (min-width: 37.5em) {
  .search {
    display: inline-block;
  }
}

.testimonials__text {
  font-family: "Merriweather", serif;
  color: #3e6990;
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
  max-width: 40rem;
}

@media only screen and (min-width: 37.5em) {
  .testimonials__text {
    font-size: 2rem;
    max-width: 70rem;
  }
}

.testimonials__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 3rem;
  height: auto;
}

@media only screen and (min-width: 37.5em) {
  .testimonials__icon {
    width: 5rem;
  }
}

.togglers {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.togglers__search {
  width: 1.8rem;
  height: auto;
  margin-right: 2.5rem;
}

.togglers__menu {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
}

.togglers__menu--open {
  background: url("../images/icon-menu.png") center/cover no-repeat;
}

.togglers__menu--close {
  background: url("../images/icon-close.png") center/cover no-repeat;
}

@media only screen and (min-width: 37.5em) {
  .togglers {
    display: none;
  }
  .togglers__search {
    width: 2rem;
  }
  .togglers__menu {
    width: 2rem;
  }
}

.tour {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__img-container {
  grid-area: img;
  display: block;
  text-align: center;
}

.tour__img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  display: inline-block;
  margin-bottom: 1rem;
  -webkit-filter: sepia(50%) hue-rotate(175deg) saturate(2.6) brightness(0.9);
          filter: sepia(50%) hue-rotate(175deg) saturate(2.6) brightness(0.9);
}

.tour__title {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #1d3142;
  font-weight: 700;
  grid-area: title;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  .tour__title {
    text-align: left;
  }
}

@media only screen and (min-width: 75em) {
  .tour__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.tour__date {
  display: block;
  color: #8aa460;
  text-transform: uppercase;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  grid-area: date;
}

.tour__text {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  max-width: 40rem;
  grid-area: text;
}

@media only screen and (min-width: 37.5em) {
  .tour__text {
    text-align: left;
  }
}

.tour__text__btn-container {
  grid-area: btn;
  text-align: center;
  display: block;
}

@media only screen and (min-width: 37.5em) {
  .tour {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-column-gap: 2rem;
        grid-template-areas: "img title" "img text" "img btn";
  }
}

@media only screen and (min-width: 75em) {
  .tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__navigation {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main social" "subscribe subscribe";
  -ms-grid-rows: 1fr 10rem;
      grid-template-rows: 1fr 10rem;
  background-color: #3e6990;
  padding: 3rem;
}

@media only screen and (min-width: 37.5em) {
  .footer__navigation {
        grid-template-areas: "main social" "main subscribe";
    -ms-grid-rows: 1fr 0;
        grid-template-rows: 1fr 0;
  }
}

.footer__img {
  position: absolute;
  bottom: 0;
  background: url("../images/small/bg-blue-sm.png") center/cover no-repeat;
  width: 100%;
  height: 30%;
  z-index: 0;
  pointer-events: none;
}

@media only screen and (min-width: 37.5em) {
  .footer__img {
    height: 100%;
    background: url("../images/medium/bg-blue-md.png") center/cover no-repeat;
  }
}

@media only screen and (min-width: 75em) {
  .footer__img {
    background: url("../images/large/bg-blue-lg.png") center/cover no-repeat;
  }
}

.footer-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer-nav__list {
  max-width: 40rem;
  list-style-type: none;
  -webkit-column-count: 1;
          column-count: 1;
  margin: auto;
}

@media only screen and (min-width: 37.5em) {
  .footer-nav__list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 8rem;
            column-gap: 8rem;
  }
}

.footer-nav__item {
  text-align: center;
  padding: 0.5rem;
}

.footer-nav__link {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem;
}

.footer-nav__link:hover {
  border-bottom: 1px solid #f58345;
}

.social-links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
}

.social-links__list {
  list-style-type: none;
}

.social-links__item {
  margin: 1rem;
}

@media only screen and (min-width: 37.5em) {
  .social-links__item {
    display: inline-block;
  }
}

.social-links__img {
  width: 3.5rem;
  height: auto;
}

.social-links__img:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.user-subscribe {
  position: relative;
  display: inline-block;
  z-index: 10000;
}

.subscribe {
  margin: 1.6rem auto 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subscribe;
}

.subscribe__label {
  display: block;
  color: #f0f0f0;
  font-size: 1.4rem;
}

.subscribe__input {
  border: 3px solid transparent;
  outline: none;
  padding: 1rem 1.2rem;
  border-radius: 10rem;
  width: 25rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1000;
}

.subscribe__input:focus {
  border: 3px solid #f58345;
  border-radius: 3px;
}

.subscribe__input:focus + input {
  border-radius: 3px;
}

.subscribe__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  -webkit-transform: translate(-2px, 5%);
          transform: translate(-2px, 5%);
  background-color: #8aa460;
  color: #f0f0f0;
  border-radius: 10rem;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 37.5em) {
  .subscribe {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  padding: 1rem 1.5rem;
  background-color: #3e6990;
}

@media only screen and (min-width: 37.5em) {
  .header {
    padding: 2rem 1.5rem;
  }
}

.hero-img {
  position: relative;
  min-height: 60vh;
  background-image: url("../images/small/banner-sm.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-filter: sepia(25%) hue-rotate(175deg) saturate(4.5) contrast(0.9) brightness(0.7);
          filter: sepia(25%) hue-rotate(175deg) saturate(4.5) contrast(0.9) brightness(0.7);
  z-index: -100;
}

@media only screen and (min-width: 37.5em) {
  .hero-img {
    background-image: url("../images/medium/banner-md.jpg");
    min-height: 80vh;
  }
}

@media only screen and (min-width: 75em) {
  .hero-img {
    background-image: url("../images/large/banner-lg.jpg");
    min-height: 85vh;
  }
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (min-width: 37.5em) {
  .hero-text {
    top: 45%;
  }
}

.section-testimonials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  padding: 2rem;
  height: 15rem;
}

@media only screen and (min-width: 37.5em) {
  .section-testimonials {
    height: 22rem;
    margin-bottom: 4rem;
  }
}

.section-tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2.5rem 2rem;
  gap: 2rem;
}

.section-contact {
  background: url("../images/small/bg-green-sm.png") center/cover no-repeat;
  min-height: 40vh;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  .section-contact {
    min-height: 50vh;
    background: url("../images/medium/bg-green-md.png") top/cover no-repeat;
  }
}

@media only screen and (min-width: 75em) {
  .section-contact {
    background: url("../images/large/bg-green-lg.png") top/cover no-repeat;
  }
}
/*# sourceMappingURL=styles.css.map */