.section-hero {
}

.section-features {
}
.section-testimonials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-light;
  padding: 2rem;
  height: 15rem;

  @include respond(tab-port) {
    height: 22rem;
    margin-bottom: 4rem;
  }
}
.section-tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 2.5rem 2rem;
  gap: 2rem;
}

.section-contact {
  background: url("../images/small/bg-green-sm.png") center/cover no-repeat;
  min-height: 40vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include respond(tab-port) {
    min-height: 50vh;
    background: url("../images/medium/bg-green-md.png") top/cover no-repeat;
  }
  @include respond(desktop) {
    min-height: 60vh;
    background: url("../images/large/bg-green-lg.png") top/cover no-repeat;
  }
}
