.footer {
  &__navigation {
    position: relative;
    background-color: $blue;
  }
  &__list {
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    color: $grey-light;
  }
  &__img {
    position: absolute;
    bottom: 0;
    background: url("../images/small/bg-blue-sm.png") center/cover no-repeat;
    width: 100%;
    height: 10rem;
  }
}
.copyright {
  position: relative;
  background-color: $blue-dark2;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  &__text {
    color: rgba($grey-light, 0.5);
    min-width: 50%;
  }
}

.company-link {
  display: block;
  color: rgba($grey-light, 0.5);
  min-width: 50%;
  &:hover {
    color: $white;
  }
}

.scroll-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 4rem;
  height: auto;
}
