.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10rem;
  padding: 1rem 0;
  font-size: 1.2rem;

  &--primary {
    background-color: $orange;
    width: 14rem;
    color: $white;
    margin: auto;
  }
  &--secondary {
    background-color: transparent;
  }
}
