.features__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: $white;
  margin: -1.2rem auto 0;
  z-index: 10000;
  max-width: 80vw;
  padding: 1rem 0 3rem;

  @include respond(tab-port) {
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
}

.feature {
  text-align: center;
  padding: 1.2rem 1.5rem;
  max-width: 25rem;

  &__img {
    width: 5rem;
    height: auto;
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
  &__link {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: $orange;
    transition: all 0.2s;

    &::before,
    &::after {
      position: absolute;
      top: 55%;
      width: 80%;
      height: 1px;
      content: "";
      background-color: rgba($text, 0.2);
      overflow: hidden;
      pointer-events: none;
    }

    &::before {
      margin-left: calc(-80% - 1rem);
    }
    &::after {
      margin-left: 1rem;
    }

    &:hover {
      color: $blue-dark;
      &::before,
      &::after {
        background-color: $orange;
      }
    }
  }

  @include respond(tab-port) {
    &__text {
      font-size: 1.6rem;
    }
    &__link {
      font-size: 1.4rem;
    }
  }
}
