.search {
  position: relative;
  display: none;

  &__label {
    color: $grey-light;
    margin-right: 1rem;
  }
  &__input {
    background-color: $grey-light;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    &:focus {
      border: 3px solid $orange;
    }
  }
  &__icon {
    position: absolute;
    background-color: $grey-light;
    border: none;
    outline: none;
    right: 1rem;
    height: 2rem;
    width: auto;
    transform: translateY(0.75rem);
  }

  @include respond(tab-port) {
    display: inline-block;
  }
}
