.testimonials__text {
  font-family: $title-font;
  color: $blue;
  text-align: center;
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 1s;
  max-width: 40rem;

  @include respond(tab-port) {
    font-size: 2rem;
    max-width: 70rem;
  }
}
.testimonials__icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 3rem;
  height: auto;

  @include respond(tab-port) {
    width: 5rem;
  }
}
