.togglers {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &__search {
    width: 1.8rem;
    height: auto;
    margin-right: 2.5rem;
  }
  &__menu {
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    &--open {
      background: url("../images/icon-menu.png") center/cover no-repeat;
    }
    &--close {
      background: url("../images/icon-close.png") center/cover no-repeat;
    }
  }
  @include respond(tab-port) {
    display: none;
    &__search {
      width: 2rem;
    }
    &__menu {
      width: 2rem;
    }
  }
}
