body {
  font-family: $body-font;
  line-height: 1.7;
  overflow-x: hidden;
  color: $text;
}

.heading-primary {
  font-size: 2rem;
  width: 80vw;
  max-width: 60rem;
  color: $white;
  font-family: $title-font;
  margin-bottom: 2rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(desktop) {
    font-size: 4rem;
  }
}
