// Colours
$white: #ffffff;
$grey-light: #f0f0f0;
$blue: #3e6990;
$blue-dark: #1d3142;
$blue-dark2: #132433;
$blue-dark: #1d3142;
$green: #8aa460;
$orange: #f58345;
$yellow: #e9e3b4;
$text: #737373;

// Fonts
$body-font: "Open Sans", sans-serif;
$title-font: "Merriweather", serif;
